.card {
    border-style: solid;
    border-radius: 4px;
    height: 250px;
    width: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.card:hover {
    opacity: 0.8;
    cursor: pointer;
}

img {
    height: 185px;
}