#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

main {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#counter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

#counter-box > * {
  border-style: solid;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

#card-box {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

@font-face {
  font-family: 'IceCreamParty';
  src: url('./fonts/IceCreamParty.ttf');
}

@font-face {
  font-family: 'IceCreamPartySolid';
  src: url('./fonts/IceCreamPartySolid.ttf');
}